.table-cart tbody tr {
    border: 1px solid #266bf9;
    text-align: center;
}

.table-cart tbody tr:last-child {
    border-bottom: 1px solid #266bf9;
}

button.cart-btn-2 {
    background: #266bf9;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    padding: 12px 20px;
    text-transform: uppercase;
    transition: all 0.3s;
}

button.cart-btn-2:hover {
    background: #0055ff;
}

@media (max-width: 768px) {
    button.cart-btn-2 {
        width: 100%;
        padding: 10px 15px;
    }
}